.proposals-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.wrapper-your-proposal-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 50%;
    background-color: #1e1e1e;
    padding: 3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    gap: 20px;
}

.proposal-header{
    font-size: 1.5rem;
    font-weight: bold;
}

.your-proposal-container {
    display: flex;
    justify-content: center;

}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.image-frame {
    width: 150px; /* Set a fixed width for the image frame */
    height: 200px; /* Set a fixed height for the image frame */
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
    text-align: center;
    font-size: 14px;
}

.upload-button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #5865f2;
    font-weight: 500;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: #3f48ae;
}

.book-image {
    max-width: 100%;
    max-height: 100%;
}

.upload-section input {
    margin-top: 10px;
    border: solid 1px #ccc;
}

.presentation-section {
    padding-left: 20px;
    padding-right: 20px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    flex-grow: 1; /* Expand to take remaining space */
    align-self: stretch;

}

.editable-field {
    margin-bottom: 15px;
}

.editable-field label {
    font-weight: bold;
    display: block;
}

.editable-field input,
.editable-field textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
}

.editable-field textarea {
    resize: vertical;
    height: 100px;
}

button {
    padding: 10px 15px;
    background-color: #5865f2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #3f48ae;
}

.other-proposals-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 50%;
    background-color: #1e1e1e;
    padding: 3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    gap: 20px;
}

.proposal-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.proposal-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    gap: 20px;
}

.proposal-image {
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 20px;
}

.proposal-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proposal-info {
    flex: 1;
}

.proposal-vote {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}

.vote-button {
    width: 7em;
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.vote-button:hover {
    background-color: #218838;
}

.darkVote {
    background-color: #0f4119;
}
